* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  user-select: none;
}

body {
  padding: 50px;
  width: 100%;
  height: 100vh;
  display: grid;
  place-items:start;
}
h2{
  font-size: 32px;
  color: orange;
  margin-bottom: 30px;
}
#boxes {
  width: 300px;
  height: 300px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 4px;
  padding: 4px;
  background-color: goldenrod;
  margin-bottom: 30px;
}

.box {
  background-color: #fff;
  color: #222;
  font-size: 34px;
  display: grid;
  place-items: center;
  transition: 0.03s linear transform;
  cursor: pointer;
  transition: 0.3s;
}

.box:active {
    transform: scale(0.9);
}
.reset{
  padding: 15px 30px;
  color: #fff;
  background-color: blue;
  border: none;
  border-radius: 10px;
  font-size: 18px;
  font-weight: 500;
  transition: 0.3s;
  cursor: pointer;
}
.reset:active{
  transform: scale(1.1);
}
.container{
    display: flex;
    gap: 20px;
}

.game,
.games{
  padding: 10px;
  background-color: rgb(220, 219, 219);
  color: #222;
  font-size: 18px;
  border: 1px solid gray;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}
.games:active{
  transform: scale(1.01);
}
.game:active{
  transform: scale(1.01);

}
.none{
  display: none;
}

#right{
  display: flex;
  gap: 10px;
  flex-direction: column;
}

